/__pycache__
/preset
/.env
.env*

/venv

/cv_model/yolo11n.pt
/cv_model/temp
/cv_model/runs
/cv_model/cv_pipeline.py
/cv_model/test

/rtsp-stream-worker/temp
/rtsp-stream-worker/mediamtx

__pycache__*

/media-autobuild_suite